--index-url https://download.pytorch.org/whl/cu113
--extra-index-url https://pypi.org/simple

torch==1.13.1
torchvision==0.14.1
torchaudio==0.13.1
transformers==4.33.3
accelerate==0.23.0
tokenizers==0.14.1
huggingface-hub==0.17.3
sentencepiece==0.1.99
numpy==1.24.4
scipy==1.10.1
protobuf==3.20.3
safetensors==0.4.2
pyyaml==6.0
bitsandbytes==0.39.0
